<div class="plant-list-wrap">
  <ul class="plant-list" id="plant-list">
    <li class="header-row" id="cols-head">
      <div class="header-cell column-quantity" title="Quantity for garden inventory">QTY</div>
      <div class="cell-group cell-group-primary">
        <div class="header-cell column-name">NAME</div>
        <div class="header-cell">CHARACTER</div>
      </div>
      <div class="cell-group cell-group-requirements">
        <!-- <div class="header-cell column-drought flag-column" title="Drought Tolerant">Drought</div> -->
        <!-- <div class="header-cell flag-column" title="Low Maintenance">Low&nbsp;Maint</div> -->
        <div class="header-cell column-soil" title="Soil">SOIL</div>
        <div class="header-cell narrow-col" title="Light">LIGHT</div>
        <div class="header-cell narrow-col" title="Water">WATER</div>
      </div>
      <div class="cell-group cell-group-design">
        <div class="header-cell column-width">WIDTH</div>
        <div class="header-cell column-height">HEIGHT</div>
        <div class="header-cell">HABIT</div>
        <div class="header-cell column-season" data-k="season">
          SEASON
          <div class="timeline-header">
            <span style="left: 2px">MAR</span><span style="left: 46px">JUN</span>
            <span style="left: 90px">SEP</span><span style="left: 134px">DEC</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="sentinel"></div>
